<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8"/>
<title></title>
</head>
<body>
<p style="text-align: center; "><img alt="" src="../Images/{{finalImage}}" width="35%"/><br/></p>
<h1 style="text-align: center;">A Small {{name}} Biography ({{bornDate}} - {{deathDate}})</h1>
{{{biography}}}
<p>Some of your works include:</p>
<ul>
{{#books}}
<li>{{title}}</li>
{{/books}}
</ul>
<p></p>
<p>Strictly for personal use, do not use this file for commercial purposes.</p>
</body>
</html>