#The following data is used to construct several pages (example title.xhtml)
ebook-number={{number}}
ebook-name={{title}}
ebook-author={{author}}
ebook-original-date={{original_date}}
ebook-categories={{categories}}
ebook-gutenberg-link={{bookurl}}
ebook-alexandria-published={{alexandria_date}}

#Si se tiene una biografía, se indica aqui el nombre. Se ira a buscar a la carpeta authors y se copiara página e imagenes.
#En caso contrario, se creará un template por defecto.
ebook-biography={{authormeta}}

#Los siguientes items van en build.gradle del sample e identifica la app como unica
#Atencion que el keystore usa '/' en vez de '\'
keystore=keystore/MAIN-KEYSTORE.keystore
keystore-pwd=kfzorrilla

#Usualmente la key es el nombre del ebook y la clave ese kfz + la key
#Notar que NO es necesario que esta clave cambie, pero TODO ebook tiene que tener sus claves y JAMAS perderse

key=ebook{{number}}
key-pwd=kfzebook{{number}}
#El applicationId SIEMPRE tiene que ser diferente por CADA ebook y NUNCA debe cambiar si el ebook a publicar es el mismo
applicationId=com.alexandriabookseng.ebook{{number}}

#Esta version tiene que avanzar si lanzamos nuevas versiones del mismo Ebook.
versionCode=100001
versionName=1.0.1

#Fin datos de build.gradle

#Los siguientes datos definen la informacion de Admob y va en strings.xml del proyecto folioreader
#probablemente sample pueda hacer un override de estas variables pero no lo he probado
admob_banner=
admob_interstitial=
admob_appId=

#IMPORTANTE 1: el MAIN-KEYSTORE.keystore fue creado con el bat addkey-alexandriabookseng.bat que es el OFICIAL para
#crear datos de ebooks. ESTE BAT ES PARA LA CUENTA DE ALEXANDRIA, NUNCA CAMBIAR.

#Audio link provee un link inicial donde se encuentra el audio
#En los primeros libros , obviamente tendremos links a Librivox. Pero en el futuro
#sabemos que será diferente, probablemente obteniendo audio desde Amazon S3.
#Asi que este link provee una referencia inicial al tema.
# UPDATE: El audio ahora SIEMPRE se usa un array, incluso si es un solo link, esto por un tema de estructuració
# Este dilema surgió con el libro War and Peace que requiere varios links de audio.

!links-audio
https://librivox.org/the-adventures-of-sherlock-holmes-version-4-by-sir-arthur-conan-doyle/
!end

#Este es el UNICO dato que puede figurar vacío y es mandatorio. Cuando se publica, puede rellenarse
#Importante: si se agrega este link, AL COMPILAR NUEVAMENTE el ebook y cerrar el mismo este link facilita la
#vida al usuario para ir al ebook y calificarlo positivo.

google-play-link=

#Esto son links directos de IMDB. Epubtools se encarga de tomar la información para generar la página imdb.xhtml
#Se pueden poner tantos links como se desee. Minimo sugerido 3, maximo sugerido 10 (pero se pueden poner mas)
!links-imdb
https://www.imdb.com/title/tt0021884/?ref_=fn_tt_tt_4
!end

#Campo especial: audio-regexp es una expresion regular para ubicar el titulo del audio si no se encuentra
#por el metodo standard.LO MAS IMPORTANTE DE LA EXPRESION ES EL GRUPO 3.
#audio-regexp=<(.*?)\shref="(.*?)"\sclass="chapter-name">(.*?)<

#links de ASO se cargan como un array. Esto genera el archivo ASO.txt que permite  usarse para crear ASOS particulares
#Todos los links provienen de Google Play, pueden añadirse tantos como uno quiera.
!links-aso
https://play.google.com/store/search?q=3d%20racing&c=apps
!end
