<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head><title></title></head>
<body>

<h1 style="text-align: center;">Based-movies about {{bookname}}</h1>
<p>There are so many movies and series based on this famous novel, that a detailed list would be an impossible task.
Instead, we have selected what we think is the best movies and cartoons adaptations from the original book
(click on the images to go to Internet Movie Database (IMDB)):&#160;</p><p><br/></p>

{{#movieList}}
<h3 style="text-align: center;" class="sigil_not_in_toc">{{title}}</h3>
<p style="text-align: center; ">
<a href="{{url}}"><img alt="" src="{{urlImage}}"/></a>
<br/></p>
<p><br/></p>

{{/movieList}}


</body>
</html>